@font-face {
  font-family: 'Fira Code';
  src: url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/eot/FiraCode-Light.eot');
  src: url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/eot/FiraCode-Light.eot') format('embedded-opentype'),
       url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/woff2/FiraCode-Light.woff2') format('woff2'),
       url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/woff/FiraCode-Light.woff') format('woff'),
       url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/ttf/FiraCode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/eot/FiraCode-Regular.eot');
  src: url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/eot/FiraCode-Regular.eot') format('embedded-opentype'),
       url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/woff2/FiraCode-Regular.woff2') format('woff2'),
       url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/woff/FiraCode-Regular.woff') format('woff'),
       url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/ttf/FiraCode-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/eot/FiraCode-Medium.eot');
  src: url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/eot/FiraCode-Medium.eot') format('embedded-opentype'),
       url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/woff2/FiraCode-Medium.woff2') format('woff2'),
       url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/woff/FiraCode-Medium.woff') format('woff'),
       url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/ttf/FiraCode-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/eot/FiraCode-Bold.eot');
  src: url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/eot/FiraCode-Bold.eot') format('embedded-opentype'),
       url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/woff2/FiraCode-Bold.woff2') format('woff2'),
       url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/woff/FiraCode-Bold.woff') format('woff'),
       url('chrome-extension://__MSG_@@nfgkhbjmmcggnlbekdjajjdgendcpffc/FiraCode/ttf/FiraCode-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.highlight pre, .highlight .blob-code {
  font-family: 'Fira Code' !important;
}
